# Maintainer: {{config.name}} <{{config.email}}>

pkgname={{ package.name | string }}
pkgver={{ package.version | string }}
pkgrel={{ package.rel | string }}
pkgdesc={{ package.description | string}}
arch=(any)
depends={{ package.depends | array}}
optdepends={{ package.opt_depends | array }}
groups={{ package.groups | array }}